<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--服务器IP地址-->
		<add key="YOUDUINTEROP_IP" value="192.168.21.89:7080"/>
		<!--企业总机号码-->
		<add key="YOUDUINTEROP_TEL" value="16108003"/>
		<!--企业应用AppId-->
		<add key="YOUDUINTEROP_AppId" value="sysMsgAssistant"/>
		<!--企业应用秘钥-->
		<add key="YOUDUINTEROP_EncodingAESKey" value="DG/WNzXcpPdn3ej+oUU0Y8rZPg7k4ucO+KNF5mcapKM="/>
	</appSettings>
</configuration>